{{#each this}}
<section>
    <div>
      <article class="book">
        <div class="book-image">
          Picture:{{!-- book thumbnail --}}
          {{#if imageLinks.smallThumbnail}}
          <img src="{{imageLinks.smallThumbnail}}">
          {{else}}
          <div>No Picture Available!</div>
          {{/if}}
        </div>
        <div class="book-title">
          {{!-- book title --}}
          Title: {{title}}
        </div>
        <div class="book-authors">
          <span>
            {{!-- not sure how this will work if this is an array --}}
            Authors: {{authors}}
          </span>
        </div>
      </article>
    </div>
</section>
{{/each}}