{{#each this}}
<section>
  <h3>
    {{!-- username  --}}
    {{dataValues.username}}
  </h3>
  <div>
  {{#each dataValues.books}}
  <p>
    <span>{{dataValues.book_title}}</span><span> </span><span>by {{dataValues.author}}</span> 
  </p>

  {{/each}}
  </div>
</section>
{{/each}}