<div>
  <h5 class="card-header club-header">
    Clubs you're currently not following
  </h5>
  <div class="card-body">
    {{!-- <h2 class="card-title">
      Clubs you're currently not following
    </h2> --}}
    {{#each this}}
    <div class="non-club-titles card-title">
      {{!-- clubs user is not following go here --}}
      <h3>
        {{dataValues.club_title}}
      </h3>
      {{!-- user join club button submission form --}}
      <form method="GET" action="/clubs-page/join-club">
        <button id="club-join-btn" type="submit" name="club" value="{{dataValues.id}}" class="btn btn-primary">Join This Club!</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>