<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <title>Book Club</title>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Special+Elite&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <!-- div wrapper class -->
  <div class="wrapper">
    <header>
      <h1 class="nav-styling">
        <a href="/">Book Club .</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        {{!-- <a href="/clubs-page">Clubs Page</a>
        <a href="/my-library">My Library</a>
        <a href="/book-search">Book Search</a> --}}
        <!-- logout button style -->
        <button id="logout" class="btn-style btn-primary">Logout</button>
        {{else}}
        <a href="/login">Login</a>
      </nav>
    </header>
    {{/if}}

    <main>
      {{{ body }}}
    </main>
    <footer class="footer-box">
      🔮 Created By: Allie, Anders, Carolina
    </footer>
  </div>
  <!-- div wrapper class -->
  <!-- if user is logged in can use logout js logic -->
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
 
</body>

</html>