<section>
  <h2>Search for a Book to add into your Library!</h2>
  <form method="GET" action="/book-search/search">
  <div>
    <label for="fname">Book Title:</label>
    <input type="text" id="book_title" name="book_title" placeholder="Book Title" autocomplete="off">
  </div>
  <div>
    <label for="lname">Author:</label><br>
    <input type="text" id="author" name="author" placeholder="Author" autocomplete="off">
  </div>
  <button type="submit">Search!</button>
</form> 
</section>
{{!-- {{#if posts.length}} --}}
    <h2>
      Search Results:
    </h2>
{{#each searchResults}}
<section>

    <div>

      <article class="book">

        <div class="book-image">
          Picture:{{!-- book thumbnail --}}
          {{#if imageLinks.smallThumbnail}}
          <img src="{{imageLinks.smallThumbnail}}">
          {{else}}
          <div>no picture available!!</div>
          {{/if}}
        </div>
        <div class="book-title">
          {{!-- book title --}}
          Title: {{title}}
        </div>
        <div class="book-authors">
          <span>
            {{!-- not sure how this will work if this is an array --}}

            Authors: {{authors}}

          </span>
        </div>
      </article>
    </div>
</section>
{{/each}}
<script src="/javascript/search-book.js"></script>