<div class="nav-container-custom">
  <a class="nav-a" href="/my-library">My Library</a>
  <a class="nav-a" href="/book-search">Book Search</a>
</div>

<section>
  {{#if userClub}}
  <div class="in-club">
    <h1 class="user-club">
      Welcome to the {{userClub}} Club Page!
    </h1>
    <h2>
      All members of your club and what they're currently reading!
    </h2>
    {{!-- user leave club submission form --}}
    <form class="leave-club" method="GET" action="/clubs-page/leave-club">
      <button class="pointer btn btn-primary" id="club-btn" name="club" type="submit" value="{{userClub_id}}">Leave
        Club
      </button>
    </form>
    <div>
      {{!-- user's club info goes here --}}
      {{> club-members clubAllUsers }}
    </div>
  </div>
</section>
{{else}}
<h1 class="user-club library-header">
  Not in a club? Join the fun!
</h1>
{{/if}}
<div class="card non-club text-white bg-warning mb-3">
  {{> not-in-these-clubs userNonClubs}}
</div>
</section>
<script src="/javascript/logout.js"></script>