<a href="/clubs-page">Clubs Page</a>
<a href="/my-library">My Library</a>
<a href="/book-search">Book Search</a>
<a href="/">Back to Homepage</a> 
<section>
  <div class="heading-wrapper">
    {{!-- <h1>
      Not in a club? Join the fun!
    </h1> --}}
    <h2>
      View all members of each club below 
    </h2>
  </div>
  <div class="club-info-section">

  </div>
</section>
<script src="/javascript/logout.js"></script>