<a href="/">Back To Home Page</a> <a href="/dashboard/delete-account" class="delete-btn-style">Delete Account</a>

<section>
  <h2>Search for a Book to add into your Library!</h2>

  <form class="book-search-form">
    <div>
      <label for="book-title">Book Title</label>
      <input type="text" id="book-title" name="book-title" placeholder="Book Title" autocomplete="off"/>
    </div>
    <div>
      <label for="author">Author Name</label>
      <input id="author" name="author" placeholder="Author Name" autocomplete="off"/>
    </div>
    <button type="submit" class="btn">Search</button>
    <p class="hide-before-error" id="search-err">
      Enter something in the search fields!
    </p>
  </form>
</section>
{{#if posts.length}}
<section>
  <h2>
    Your Books
  </h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/search-book.js"></script>