{{#if loggedIn}}
<h2>Welcome back, <span class="username">{{username}}</span> </h2>
{{/if}}
{{!-- <h2>Search a book!</h2> --}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ol>