{{#if loggedIn}}
<a href="/clubs-page">Clubs Page</a>
<a href="/my-library">My Library</a>
<a href="/book-search">Book Search</a> 
<h2>Welcome back, <span class="username">{{username}}</span> </h2>
{{/if}}
{{!-- <h2>Search a book!</h2> --}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ol>
<script src="/javascript/logout.js"></script>