{{!-- <a href="/dashboard/delete-account" class="delete-btn-style">Delete Account</a> --}}
<ul>
  <li><a href="/clubs-page">Clubs Page</a></li>
  <li><a href="/my-library">My Library</a></li>
  <li><a href="/book-search">Book Search</a></li>
  {{!-- <li><a href="/">Back to Homepage</a></li> --}}
</ul>
<section class="library-container">
  <div class="club-container">
    {{#if club}}
    <h2 class="club-name">
      Club Association: <span>{{club}}</span>
    </h2>
    {{else}}
    <h2 class="club-name">
      Club Association: none
    </h2>
    {{/if}}
    <p class="members">
      {{!-- member names are links to look at another users library? will have to be a different page and include books they read and their group association --}}
    </p>
  </div>
  <div class="library-header">
    <h2>
      Your Library Book Collection
    </h2>
  </div>
  <div class="user-books">
  {{#if userBooks}}
  <article>
    {{> user-book-library userBooks}}
  </article>
  {{/if}}
  </div>
</section>
<script src="/javascript/logout.js"></script>