/* font-family: 'Special Elite', cursive;
font-family: 'Josefin Slab', serif; */

:root {
  --main-color: #2c3e50;
  --second: #95a5a6;
  --third: #95a5a6;
  --fourth: #ecf0f1;
}

.border-top {
  border-top: solid 10px black;
}

.border-bottom {
  border-bottom: solid 10px black;
}

.pointer {
  cursor: pointer;
}

.hide-before-error {
  display: none;
  color: red;
}
.show-after-error {
  display: block;
  color: red;
}

#add-btn-1 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-2 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-3 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-4 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-5 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-6 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-7 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-8 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-9 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-10 {
  cursor: pointer;
  background-color: grey;
}

/* styling for splash page */
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  font-family: "Special Elite", cursive;
  color: white;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: var(--main-color) !important;
  border-color: white;
  font-family: "Special Elite", cursive;
}

header {
  text-align: center;
  padding-top: 50px;
}

body {
  background-color: black;
  background-image: url("project2-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* homepage description */
.description-box {
  /* height: 50px;
  width: 500px; */
  /* background-color: #555; */
  background-color: black;
  text-align: center;
  /* padding: 100px;
  margin: 200px;
  margin-left:400px; */
  margin: 20%;
  opacity: 0.7;
  color: var(--fourth);
  /* -webkit-text-stroke: 1px var(--fourth); */
  font-family: "Josefin Slab", serif;
  font-size: 25px;
}

/* homepage footer */
.footer-box {
  background-color: black;
  text-align: center;
  margin: 10%;
  opacity: 0.7;
  color: var(--fourth);
  font-family: "Special Elite", cursive;
  font-size: 15px;
}

/* styling for the form cards */
.login-signup {
  margin: 10% 30%;
  padding: 10px;
  background-color: black;
  opacity: 0.7;
  color: var(--fourth);
  font-family: "Josefin Slab", serif;
  font-size: 15px;
}

.card {
  background-color: black;
  padding: 25px;
}

.card-header {
  font-family: "Special Elite", cursive;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

h2 {
  color: black bold;
}

footer {
  margin: 20px;

  background: white;
}

/* book search styling  */

.book-search {
  margin: 5% 30% 10%;
  padding: 10px;
  background-color: black;
  opacity: 0.7;
  color: var(--fourth);
  font-family: "Josefin Slab", serif;
  font-size: 15px;
}