/* font-family: 'Special Elite', cursive;
font-family: 'Josefin Slab', serif; */

:root {
  --main-color: #2c3e50;
  --second: #95a5a6;
  --third: #95a5a6;
  --fourth: #ecf0f1;
}

.border-top {
  border-top: solid 10px black;
}

.border-bottom {
  border-bottom: solid 10px black;
}

.pointer {
  cursor: pointer;
}

.hide-before-error {
  display: none;
  color: red;
}
.show-after-error {
  display: block;
  color: red;
}

#add-btn-1 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-2 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-3 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-4 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-5 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-6 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-7 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-8 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-9 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-10 {
  cursor: pointer;
  background-color: grey;
}

/* styling for splash page */

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  color: white;
}

header {
  text-align: center;
  /* background: white; */
  /* opacity: 0.2; */
  /* font-family: "Special Elite", cursive; */
  /* font-weight: bold; */
  /* color: var(--main-color);
  -webkit-text-stroke: 1px var(--fourth); */
  padding-top: 50px;
}

/* .nav-styling {
  color: var(--main-color);
  -webkit-text-stroke: 2px var(--fourth);
  font-family: "Special Elite", cursive;
} */

body {
  background-color: black;
  background-image: url("project2-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.description-box {
  /* height: 50px;
  width: 500px; */
  /* background-color: #555; */
  background-color: black;
  text-align: center;
  /* padding: 100px;
  margin: 200px;
  margin-left:400px; */
  margin: 20% 20% 20% 10%;
  opacity: 0.7;
  color: var(--fourth);
  /* -webkit-text-stroke: 1px var(--fourth); */
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
}

.footer-box {
  background-color: black;
  text-align: center;
  margin: 10%;
  opacity: 0.7;
  color: var(--fourth);
  font-family: 'Special Elite', cursive;
  font-size: 15px;
}

.login-signup {
  margin: 20%;
  background-color: black;
  opacity: 0.7;
  color: var(--fourth);
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
}

.login {
  /* text-align: left;  */
  /* padding-left: 200px;
  padding-top: 00px;
  padding-right: 10px;
  padding-bottom: 10px; */
}

.signup {
  /* text-align: right; */
  /* padding-left: 10px;
  padding-top: 10px;
  padding-right: 200px;
  padding-bottom: 10px; */
}

h2 {
  color: black bold;
}

footer {
  margin: 20px;

  background: white;
}
