.border-top {
  border-top: solid 10px black;
}

.border-bottom {
  border-bottom: solid 10px black;
}

.pointer {
  cursor: pointer;
}

.hide-before-error {
  display: none;
  color: red;
}
.show-after-error {
  display: block;
  color: red;
}

#add-btn-1 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-2 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-3 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-4 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-5 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-6 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-7 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-8 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-9 {
  cursor: pointer;
  background-color: grey;
}
#add-btn-10 {
  cursor: pointer;
  background-color: grey;
}